#footer{
    width: 100%;
    height: 20vh;

    display: flex;
    justify-content: center;

    background-color: none;
}

#container{
    width: var(--layout-guide);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#img_footer{
    height: 13vh;
}

.txt_inf {
    color: var(--txt-claro);
    margin-bottom: 17px;    
    font-size: 20px;

}