#footer{
    width: 100%;
    height: 20vh;

    display: flex;
    justify-content: center;
}

#container{
    width: var(--layout-guide);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#img_footer{
    height: 13vh;
}

#campo_inf{
    gap: 10px;
}

#campo_inf a{
    color: var(--text-claro);
}